.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    min-width: 24rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 4.8rem 0;
    cursor: pointer;
}

.button svg{
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover{
    filter: brightness(60%);
    transition: all 0.1s ease-in-out;
}